.mm-header {
    font: 700 26px/26px Helvetica,Arial,sans-serif;
    margin-bottom: .9rem;
    color: #000;
}

.mm-sub-header {
    margin-bottom: 1.25rem;
    color: #666;
    font: 14px/16px Helvetica,Arial,sans-serif;

}
.mm-info {
    text-transform: uppercase;
}

img {
    width: 100%;
}